<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="BackDispatcher"
        android:name="com.androlua.LuaApplication"
        tools:ignore="MissingApplicationIcon,UnusedAttribute"
        android:theme="@android:style/Theme.Material.NoActionBar"
        android:networkSecurityConfig="@xml/network_config"
        android:usesCleartextTraffic="true"
        android:enableOnBackInvokedCallback="true">

        <activity android:name="com.androlua.Welcome"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.androlua.Main"
            android:exported="false">
        </activity>

        <activity
            android:name="com.agyer.playground.app.OnBackInvokedBaseLuaActivity"
            android:exported="false">
        </activity>

    </application>

</manifest>